# Used for CI: It should match environment.yml

# Dev tools
setuptools
setuptools_scm
pylint
flake8
black
isort
twine
wheel

# Testing
pytest
pytest-cov

# Package deps
pyspark
pyarrow
matplotlib

# Examples
jupyterlab
nycflights13

